QSplitter::handle {
    background: transparent;          /* 背景透明 */
    border-left: 1px solid #8bbfff;  /* 水平 splitter 线，用 border 模拟超细线 */
    border-top: 1px solid #8bbfff;   /* 垂直 splitter 线 */
    margin: 0px;                      /* 去掉额外空间 */
}

QSplitter::handle:hover {
    border-left: 1px solid #86bfff;
    border-top: 1px solid #86bfff;
}
